@charset "utf-8";
/* CSS Document */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}
body{
	background-color: rgba(246,234,255,1.00)
}
.ul1{
	position: absolute;
	margin:0 auto;
	z-index: 20;
}
.ul1 li{
	float: left;
	width: 130px;
	height: 50px;
	/*border: 1px solid green;*/
	align: center;
	z-index: 20;
}

.ul1 li a{
	
	height: auto;
	color: white;
	text-align: center;
	padding-top: 10px;
	position: absolute;
	top:0px;
	text-decoration: none;
	font-size: 16px;
	/*border:1px solid red;*/
	width:130px;
	height: 40px;
	z-index: 20;
	
}

.ul1 li a:hover{
    background-color: rgba(255,142,215,1.00);
}

.nav1{
	position: fixed;
	top:0;
	left:0;
	right:0;
	width: auto;
	height: 50px;
	background-color:rgba(55,141,243,1.00);
	margin: 0 auto;
	z-index: 10;
	box-shadow: rgba(255,142,215,1.00) 0px 10px 0px 0px ;
}

.nav2{
	position: fixed;
	top:0;
	left:0;
	right:0;
	width: 700px;
	height: 50px;
	background-color:rgba(55,141,243,1.00);
	margin: 0 auto;
}

.main1{
	/*background-color:rgba(255,228,149,1.00);*/
	width: 1700px;
	height: 3000px;
	position: absolute;
	margin: 0 auto;
	top:50px;
	left: 0;
	right:0;
	
}

.m1,.m2,.m3,.m4,.m5{
	position: relative;
	width:1100px;
	height: 500px;
	margin: 0 auto;
	left:0;
	right:0;
	top:50px;
	background-color: white;
	border: 8px solid rgba(55,141,243,1.00);
	box-shadow: rgba(255,142,215,1.00) 15px 10px 0px 0px ,rgba(55,141,243,1.00) -3px -5px 0px 0px;
	overflow: scroll;
	background-color:rgba(255,237,0,0);
	padding-left: 20px;
	padding: 20px;
	
	
}

.m2{
	top:100px;
	
}
.m3{
	top:150px;
}
.m4{
	top:200px;
}
.m5{
	top:250px;
}

.p1,.p2,.p3,.p4,.p5{
	position: sticky;
	top:-15px;
	left: -10px;
	background-color:rgba(55,141,243,1.00);
	box-shadow: rgba(255,142,215,1.00) 0px 8px 0px 0px ;
	z-index: 3;
	color: white;
	padding: 10px;
	margin: 0;
}
.p2{
	
}
.mm1,.mm3,.mm4,.mm5{
	position: absolute;
	top:60px;
}
